body {
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 0;
    background-image: url(images/reprojobs.png);
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    font-size: 50px;
}

h1 span {
    color: orangered;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.heading {
    width: 50%;
    padding-left: 5%;
}

.image img {
    width: 80%;
    padding-left: 5%;
}

.contact-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 5%;
    font-weight: 700;
}


#headd {
    width: 50%;
    padding-left: 300px;
    padding-top: 150px;
}

.image2 img {
    width: 100%;
    padding: 40px
}