body {
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 0;
    background-image: url(images/reprojobs.png);
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    font-size: 50px;
}

h1 span {
    color: orangered;
}

h1 span:hover {
    color: darkorchid;
}

.flexible-cont {
    display: flex;
    margin-bottom: 150px;
}

.heading {
    width: 50%;
    padding-left: 5%;
}

.heading:hover {
    color: fuchsia;
}

.image img {
    width: 80%;
    padding-left: 5%;
}

.image img:hover {
    box-shadow: 10px 10px 40px blueviolet;
}

.contact-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 5%;
    font-weight: 700;
}

.contact-button:hover {
    background-image: linear-gradient(red, green);
}


#headd {
    width: 50%;
    padding-left: 300px;
    padding-top: 150px;
}

#headd:hover {
    color: fuchsia;
}

.image2 img {
    width: 100%;
    padding: 40px
}

.image2 img:hover {
    box-shadow: 10px 10px 40px blue;
}

.orange-color {
    color: orangered;
}

.headingg {
    width: 50%;
    padding-left: 5%;
    box-shadow: 10px 10px 40px red;
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    border-left: 10px solid green;
}

.headingg:hover {
    box-shadow: 10px 10px 40px teal;
    border-left: 10px solid tomato;

}

.copyright {
    text-align: center;
}

.expert:hover {
    text-decoration: underline;
    color: cyan;
}